html
{
    background-color: #021a13;
    text-align: center;
    align-items: center;
    background-image: url('img/pozadi.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}


.hl_karta
{
    margin: 20px 420px;
    border-radius: 15px;
    background-color: #022d21;
    color: #39d4a8;
    box-shadow: 0 0 10px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hl_karta h1
{
    font-size: 80px;
}

.hl_karta img
{
    width: 250px;
}

.tlacitko button
{
    width: 170px;
    height: 70px;
    font-size: 40px;
    background-color: #021a13;
    border-radius: 15px;
    border: #39d4a8;
    color: #39d4a8;
    box-shadow: 0 0 10px #000000;
    transition: all 0.3s ease;
}

.tlacitko button:hover
{
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px #39d4a8,  0 0 5px 5px #289878;
}

#text {
    display: inline-block;       /* aby šla animovat opacity */
    transition: all 0.3s ease; /* plynulý přechod textu */
}


.card
{
    width: 250px;
    height: 250px;
    perspective: 1000px;
    padding-left: 70px;
    padding-bottom: 20px;
}

.inner
{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.flipped .inner
{
    transform: rotateY(180deg);
}

.front, .back
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back
{
    transform: rotateY(180deg)
}


.vyhry
{
    font-size: 22px;
}